<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/third/" method="GET">
        <p>catch! I catch {{message.0}}!</p>
        <label for="message1">and throw! </label>
        <input type="text" id = 'message1' name='message1'>
        <label for="message2"> twice! </label>
        <input type="text" id = 'message2' name='message2'>
        <input type="submit" value='휙'>
    </form>
</body>
</html>